@import url(http://fonts.googleapis.com/css?family=PT+Sans);

nav, #small-nav {
    font-size: 125%;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    text-align: center;
}

nav {
    background: #39275b;
    border-top: 5px solid #d7a900; 
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1); 
    padding: 0.2em;
    height: 3.5em;
    overflow: hidden;
}

#logo {
    float: left;
    height: 2.8em;
}

#big-nav {
    padding-top: .6em;
    margin-right: 320px;
}

nav li {
    display: inline;
    list-style: none;
    margin-right: 1em;
}

#small-nav li {
    background: #39275b;
    list-style: none;
    border: 1px solid #d7a900;
}

#small-nav a {
    margin-bottom: 3px;
}

#small-nav {
    padding: 0;
}

nav li a { 
    display: inline-block;
    padding-right: 4px;
}

#small-nav li a {
    margin-bottom: 2px;
}

nav li a, #small-nav li a {
    color: #C1C1D6;
    text-decoration: none;
}

#balance {
    float: right;
    width: 320px;
}

.navbar-nav {
    display: none;
}

nav li a:hover, .active {
    border-bottom: 3.5px solid #d7a900;
    color: white;
    text-decoration: none;
}

body {
    background: #ebebeb;
    font-family: 'PT Sans', sans-serif;
}

#home {
    text-align: center;
}

#home-photo {
    width: 76%;
    margin: 0;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

iframe { 
    margin-top: 5px;

}

.col-md-6 {
    margin-top: 2px;
}

#search {
    margin-top: 4px;
}

.cards {
    margin: 0;
    padding: 0;
}

.card {
    list-style: none;
    padding: 10px;
    margin-bottom: 0.5em;
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 5px;
    clear: both;
    margin-top: 0.5em;
}

.contact, .contact:hover {
    font-style: italic;
    text-decoration: none;
    color: #000000;
}

#imageGallery img  {
    display: inline-block;
    padding: 7.5px 7.5px 7.5px 7.5px;
}


#imageGallery h3 {
    background-color: #39275b;
    color: #ffffff;
    border: 2px;
    border-radius: 5px;
    padding-left: 7.5px;
}

#home {
    text-align: center;

}

.popup-nav {
    display: none;
}


@media(max-width: 1000px) {
    #big-nav {
        display: none;
    }

    .navbar-toggle {
        display: inline-block;
    }

    .glyphicon-th-list {
        color: white;
    }
}

h1 {
    font-weight: bold;
}
/*
the gold: #d7a900;
the purple: #39275b;
*/