.sidebar>ul{
	border-right: 2px solid gray;
}

ul {
	list-style-type: none;
}

img {
	max-width: 350px;
	float: left;
	margin-right: 35px;
	margin-bottom: 35px;
}

h1 {
	margin-bottom: 35px;
}

body{
	padding-left: 20px;
	padding-right: 20px;
	color: DimGray;
}

h2{
	margin-bottom: 20px;
}

.list>li{
	font-weight: bold;
}

.name {
	font-weight: normal;
	color: #1E90FF;
	cursor: pointer;
}

.speech {
	text-align: center;
}