.menu-list {
  padding-left: 40px;
  padding-right: 40px;
}
.years {
  float: right;
}

.organizations {
  float: left;
}

.menu-list-item {
  display: inline;
  list-style: none;
  margin-right: 1em;
}

.menu-list-item a {
  color: #39275b;
  text-decoration: none;
}

.menu-list-item a.active {
  border-bottom: 3.5px solid #d7a900;
  color: #d7a900;
  text-decoration: none;
}
.sidebar>ul{
  border-right: 2px solid gray;
}

ul {
  list-style-type: none;
}

img {
  max-width: 350px;
  float: left;
  margin-right: 35px;
  margin-bottom: 35px;
}

h1 {
  margin-bottom: 35px;
}

body{
  padding-left: 20px;
  padding-right: 20px;
  color: DimGray;
}

h2{
  margin-bottom: 20px;
}

.list>li{
  font-weight: bold;
}

.name {
  font-weight: normal;
  cursor: pointer;
}

.name a {
  color: #1E90FF;
  text-decoration: none;
  display: inline-block;
  border-bottom: 3.5px solid #ebebeb;
}

.name a.active {
  border-bottom: 3.5px solid #d7a900;
  color: #d7a900;
  text-decoration: none;
}
