.Elections .menu-list {
  padding-left: 40px;
  padding-right: 40px;
}
.Elections .years {
  float: right;
}

.Elections .organizations {
  float: left;
}

.Elections .menu-list-item {
  display: inline;
  list-style: none;
  margin-right: 1em;
}

.Elections .menu-list-item a {
  color: #39275b;
  text-decoration: none;
}

.Elections .menu-list-item a.active {
  border-bottom: 3.5px solid #d7a900;
  color: #d7a900;
  text-decoration: none;
}
.Elections .sidebar>ul{
  border-right: 2px solid gray;
}

.Elections ul {
  list-style-type: none;
}

.Elections img {
  max-width: 350px;
  float: left;
  margin-right: 35px;
  margin-bottom: 35px;
}

.Elections h1 {
  margin-bottom: 35px;
}

.Elections body{
  padding-left: 20px;
  padding-right: 20px;
  color: DimGray;
}

.Elections h2{
  margin-bottom: 20px;
}

.Elections .list>li{
  font-weight: bold;
}

.Elections .name {
  font-weight: normal;
  cursor: pointer;
}

.Elections .name a {
  color: #1E90FF;
  text-decoration: none;
  display: inline-block;
  border-bottom: 3.5px solid #ebebeb;
}

.Elections .name a.active {
  border-bottom: 3.5px solid #d7a900;
  color: #d7a900;
  text-decoration: none;
}

.Elections .Elected {
  font-weight: bold;
  color: black
}
